{
    "Version": "$LATEST",
    "CodeSha256": "***",
    "FunctionName": "lambdaenv",
    "VpcConfig": {
        "SubnetIds": [],
        "SecurityGroupIds": []
    },
    "MemorySize": 128,
    "CodeSize": 1716,
    "FunctionArn": "arn:aws:lambda:snafu:*:function:lambdaenv",
    "Environment": {
        "Variables": {
            "THEANSWER": "42"
        }
    },
    "Handler": "lambdaenv.lambda_handler",
    "Role": "arn:aws:iam::*:role/lambda_basic_execution",
    "Timeout": 3,
    "LastModified": "2017-01-01T00:00:00.000+0000",
    "Runtime": "python3",
    "Description": ""
}
