[snafu]
connector.messaging = amqp://guest:guest@localhost:5672/
connector.cron = 60
connector.filesystem = /tmp
connector.web = 8080
connector.xmpp = xmpp://guest:guest@localhost
logger.sqlite = /tmp/snafu.sqlite
logger.csv = snafu.csv
executor.proxy = http://localhost:10001
